ol, li, p {
	padding: 0px;
	margin: 0px;
}



a {
	text-decoration: none;
	color: #A10505;
}

p {
	color: #A10505;
}


.menu {
	float: left;
	width: 15%;
}


ul li {
	list-style-type: none;
	float: left;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	color: beige;
	background: #A10505;
}