* {
	padding: 5px;
	margin: 5px;
}



.content {
	float: left;
	width: 70%;
}

.ad {
	float: right;
}
ol li {
	list-style: none;
}

ul {
	border: 3px solid #ccc;
	border-radius: 8px;
	margin: 10px 0 0 10px;
}

ul li {
	list-style: none;
	text-align: center;
	padding: 10px 0 0 10px;
	border-top: 1px dotted #ccc;
	margin-bottom: 10px;
	padding: 10px 0 0 10px;
}

ul li:first-child {
	border: 0 none;
}

ul li a {
	height: 20px;
	line-height: 20px;
	text-decoration: none;
	color: #000;
}

ul li p {
	color: #f00;
}